#topo{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: block;
    background-color: #000;
    height: 80px;
    z-index: 1000;
}

#topo a{
    text-decoration: none;
}

#topo h1{
    position: relative;
    margin: 20px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    /* color: #FAF7F0; */
    color: white;
}

#topo h1 .cor{
    /* color: #1D24CA; */
    color: #AA14F0;
}

#topo h1 .cinza{
    /* color: #686D76; */
    color: #EEEEEE;
}

@media (max-width: 720px){
    #topo h1{
        font-size: 20pt;
    }
}

@media (max-width: 540px){
    #topo h1{
        font-size: 10pt;
    }
}

